/* Reset */

 html, body, div, h1, h2, h3, p, ol, ul, li,
 canvas, details, embed, figure, footer, header,
 section, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
  box-sizing: inherit;
  text-decoration: none;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }


/* Keyboard */
html, body {
  font-family: Arial, sans-serif;
  font-size: 2.5vmin;
  margin: 0 auto;
  background: rgb(25, 25, 25);
  color: rgb(75, 75, 75);
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: center;
}

.keyboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  margin: 5px;
  line-height: 7.5vmin;
  /*color: white;*/
  /*border-color: rgb(255, 0, 75);
  color: rgb(255, 0, 75);*/

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.space {
  width: 500px;
}


/* Keyboard Animation */

.key.active, .key:active{
  /*background: #00ffc7;*/

  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  transition: 0.1s;
  transform: scale(1.15);
  color: rgb(75, 75, 75);

  /*color: rgb(75, 75, 75);
  background-color: rgb(255, 0, 75);*/
}

.purple {
  border-color: rgb(150, 0, 255);
  color: rgb(150, 0, 255);
}

.purple.active {
  background-color: rgb(150, 0, 255);
}

.pink {
  border-color: rgb(255, 0, 75);
  color: rgb(255, 0, 75);
}

.pink.active {
  background-color: rgb(255, 0, 75);
}

.green {
  border-color: rgb(0, 255, 100);
  color: rgb(0, 255, 100);
}

.green.active {
  background-color: rgb(0, 255, 100);
}

.blue {
  border-color: rgb(0, 150, 255);
  color: rgb(0, 150, 255);
}

.blue.active {
  background-color: rgb(0, 150, 255);
}
