/* Reset */

 html, body, div, h1, h2, h3, p, ol, ul, li,
 canvas, details, embed, figure, footer, header,
 section, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
  box-sizing: inherit;
  text-decoration: none;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }


/* Keyboard */
html, body {
  font-family: Helvetica, sans-serif;
  font-size: 2.5vmin;
  margin: 0 auto;
  background: rgb(25, 25, 25);
  color: rgb(75, 75, 75);
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
}

.keyboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.space {
  width: 500px;
}

/* Drop Down Menu */
#sounds{
  background-color: rgb(25, 25, 25);
  height: 92px;
  color: white;
  width: 461px;
  margin-top: 90px;
  font-size: 0.8rem;
  font-family: Helvetica, sans-serif;
}


/* SYNTHWAVE title */

.title {
  margin-top: 80px;
  width: 433px;
  height: 180px;
  border: 15px double rgb(0, 150, 255);
  box-shadow: -1px 0px 106px 1px rgb(0, 150, 255);
  line-height: 120px;
}

.title p {
  color: transparent;
  font-size: 2rem;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: gold;
  font-family: 'Helvetica', sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em gold, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
   animation: blink linear infinite 5s;
}

@keyframes blink {
0% { opacity: 0; }

  // flicker
  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .4; }
  11.25% { opacity: .6; }
  11.5% { opacity: .4; }
  18% { opacity: 1; }
  18.5% { opacity: .9; }
  22% { opacity: 1; }

  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }

  100% { opacity: 1; }
}

/* Keyboard Animation */

.key.active, .key:active{
  /*background: #00ffc7;*/

  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  transition: 0.1s;
  transform: scale(1.15);
  color: rgb(75, 75, 75);

  /*color: rgb(75, 75, 75);
  background-color: rgb(255, 0, 75);*/
}

.purple {
  border-color: rgb(150, 0, 255);
  color: rgb(150, 0, 255);
}

.purple.active {
  background-color: rgb(150, 0, 255);
}

.pink {
  border-color: rgb(255, 0, 75);
  color: rgb(255, 0, 75);
}

.pink.active {
  background-color: rgb(255, 0, 75);
}

.green {
  border-color: rgb(0, 255, 100);
  color: rgb(0, 255, 100);
}

.green.active {
  background-color: rgb(0, 255, 100);
}

.blue {
  border-color: rgb(0, 150, 255);
  color: rgb(0, 150, 255);
}

.blue.active {
  background-color: rgb(0, 150, 255);
}
