/* Reset */

 html, body, div, h1, h2, h3, p, ol, ul, li,
 canvas, details, embed, figure, footer, header,
 section, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
  box-sizing: inherit;
  text-decoration: none;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }


/* Keyboard */
html, body {
  font-family: Arial, sans-serif;
  font-size: 2.5vmin;
  margin: 0 auto;
  background: rgb(25, 25, 25);
  color: rgb(75, 75, 75);
  text-align: center;
  height: 100%;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
}

.keyboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key {
  border: 1px solid white;
  width: 60px;
  height: 60px;
  border-radius: 13px;
  margin: 5px;
  line-height: 6vmin;


}

.space {
  width: 500px;
}


/* Keyboard Animation */

.key.active{
  background: #00ffc7;
  border: white;
  width: 65px;
  height: 65px;
  margin: 0;
}
